#kanban_table {
	width: 100%;
	height: 100%;
}

#kanban_table_header {
	height: 10%;
}

#postit_master {
	display: none;
}

.kanban_col {
	width: 33%;
}

.postit {
	width: 35%;
	height: 15%;
	background-color: pink;
}

.postit_header {
    display: inline-block;
}