#kanban_table {
	width: 100%;
	height: 100%;
}

#kanban_table_header {
	height: 10%;
}

#postit_master, #postit_master_tracker {
	display: none;
}

.kanban_col {
	width: 33%;
}

.postit {
	width: 35%;
	//height: 15%;
	background-color: pink;
	float: left;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	text-align: center;
}

.postit_header {
    display: inline-block;
}

.author, .priority, .assigned_to {
    display: none;
} 